@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0}
#wrapper, header, nav, section, footer, article, aside, address{display:block}
body{background:black; font-family:Arial, Helvetica, sans-serif; font-size:12px}
h2{font-size:20px; font-weight:normal; padding:20px; background:#eeeeee; border-bottom:1px solid #616161; border-radius:10px 10px 0 0; -o-border-radius:10px 10px 0 0; -ms-border-radius:10px 10px 0 0; -moz-border-radius:10px 10px 0 0; -webkit-border-radius:10px 10px 0 0}
h3{padding:50px 0; font-size:18px; text-align:center; font-weight:normal}
a{text-decoration:none}

ui{list-style:none}

a.button{display:inline-block; width:200px; line-height:85px; margin:0 10px; background:#4993D7; border-radius:10px; -o-border-radius:10px; -ms-border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; text-align:center; font-size:28px; color:#ffffff; text-shadow:1px 1px 2px rgba(0, 0, 0, 0.5); -o-text-shadow:1px 1px 2px rgba(0, 0, 0, 0.5); -ms-text-shadow:1px 1px 2px rgba(0, 0, 0, 0.5); -moz-text-shadow:1px 1px 2px rgba(0, 0, 0, 0.5); -webkit-text-shadow:1px 1px 2px rgba(0, 0, 0, 0.5)}

#wrapper{width:100%; min-width:960px; margin:auto}
header{width:100%; padding:30px 0; background:url(../images/Razer-Logo.jpg) 40px center no-repeat, black; color:white; text-align:right}
header p{margin-right:40px}
header a{color:white}
header a:hover{color:#00ff01}

section{position:relative; padding-left:220px}

aside{position:absolute; top:5px; left:0; width:220px}
aside ul li{padding:10px 0 10px 20px; border-top:1px solid #858585; border-bottom:1px solid #4A4A4A}
aside ul li:first-child{border-top:none}
aside ul li:last-child{border-bottom:none}
aside a{color:#ffffff; font-size:13px; text-shadow:1px 1px 2px rgba(0, 0, 0, 0.7); -o-text-shadow:1px 1px 2px rgba(0, 0, 0, 0.7); -ms-text-shadow:1px 1px 2px rgba(0, 0, 0, 0.7); -moz-text-shadow:1px 1px 2px rgba(0, 0, 0, 0.7); -webkit-text-shadow:1px 1px 2px rgba(0, 0, 0, 0.7)}
aside a:hover{color:#00ff01}

#tabs{padding:20px}
#tabs>div{border:1px solid #333; border-top:0}
section>article{width:100%; margin-top:-5px; min-height:200px; background:white; border-radius:10px 10px 0 0; -o-border-radius:10px 10px 0 0; -ms-border-radius:10px 10px 0 0; -moz-border-radius:10px 10px 0 0; -webkit-border-radius:10px 10px 0 0; box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.80); -o-box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.80); -ms-box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.80); -moz-box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.80); -webkit-box-shadow: -3px 0px 5px rgba(0, 0, 0, 0.80)}

article article{padding:20px}
article a:hover{text-decoration:underline}
article form{padding:20px}
article form ul li{padding:5px 0; list-style:none}
article label{display:inline-block; width:130px; font-weight:bold}
article input[type='text'], article input[type='email'], article input[type='number'], article input[type='url'], article input[type='password']{width:600px; padding:5px 10px}
article select{width:624px; padding:5px 10px}
article button{padding:5px; border:none; color:white}
article button:hover {color:black}
article button[type='submit']{background:black}
article button[type='submit']:hover{background:#00ff01}
article button[type='reset']{background:black}
article button[type='reset']:hover{background:#00ff01}

table{width:100%; border-collapse:collapse}
td, th{border:1px solid #333; padding:10px}
th{font-size:13px; color:#333333}
td:last-child, td:nth-last-child(2){width:55px}

footer{padding:20px; background:#333}
footer address{font-style:normal; text-align:right; color:#ffffff}